<h1>Login:</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" />
    <p
      *ngIf="
        loginForm.controls.email.touched && loginForm.controls.email.errors
      "
      class="error"
    >
      Error: {{ loginForm.controls.email.errors | json }}
    </p>
  </div>

  <div>
    <label for="password">Password: </label>
    <input id="password" type="text" formControlName="password" />
    <p
      *ngIf="
        loginForm.controls.password.touched &&
        loginForm.controls.password.errors
      "
      class="error"
    >
      Error: {{ loginForm.controls.password.errors | json }}
    </p>
  </div>

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>

<hr />

<h2>Form Value:</h2>
<pre>{{ loginFormValue$ | async | json }}</pre>
